/* src/app/footer/footer.component.css */
.footer {
    background-color: rgba(20, 20, 20, 0.85);
    color: #fff;
    padding: 20px 0;
  }
  
  .footer-text {
    margin-bottom: 10px;
    font-size: 14px;
  }
  
  .footer-link {
    color: #E50914; /* Link color similar to the NTTFLIX brand */
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
  }
  
  .social-icons {
    font-size: 24px; /* Adjust based on your preference */
  }
  
  .social-icons span {
    padding: 0 10px;
    cursor: pointer;
  }
  
  /* Example for a hover effect on links and social icons */
  .footer-link:hover,
  .social-icons span:hover {
    color: #aaa; /* Lighter shade for hover effect */
  }
  